{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="list-header">Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="back-to-list">Back to list</a>
{% endblock %}
